<div class="container">
  <div class="row">
    
    <% topic.bookmarks.each do |bookmark| %>
      <div class="col-xs-6 col-md-3 thumbnail">
        <%= link_to "#{bookmark.url}" %>
        <%= render partial: 'likes/like', locals: { bookmark: @bookmark } %>
        <br />
        <small>
          <%= link_to "Edit Bookmark", edit_topic_bookmark_path(topic, bookmark), class: 'label label-default' %><br />
          <%= link_to "Delete Bookmark", [topic, bookmark], method: :delete, class: 'label label-default', data: { confirm: 'Are you sure you want to delete this bookmark?' } %> 
        </small>
      </div>
    <% end %>
  </div>

  <div class="row" align="center">
    <%= link_to "Add a New Bookmark", new_topic_bookmark_path(topic, bookmark), class: 'label label-warning' %>
  </div>
  
</div>


