<div class="container">
<div class="row">
  <h2>My Blocmarks</h2>
  <br />
    <% @user_bookmarks.each do |bookmark| %>
      <div class="col-xs-6 col-md-3 thumbnail">
        <%= link_to "#{bookmark.url}" %> 
        <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
        <%= render partial: 'users/user', locals: { bookmark: bookmark } %>
        <br />
        </div>

    <% end %>
</div>

<div class="row">
  <h2>My Likes</h2>
    <br />  
    <% @liked_bookmarks.each do |bookmark| %>
      <div class="col-xs-6 col-md-3 thumbnail">
        <%= link_to "#{bookmark.url}" %>
        <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
        <%= render partial: 'users/user', locals: { bookmark: bookmark } %>
        </div>
    <% end %>
</div>
  
